# Задача 3.2

In [1]:
import pandas as pd
import numpy as np
import io
import statsmodels.formula.api as smf

In [2]:
pd.set_option('display.max_columns', None)
# показывает все столбцы в таблице

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/sleep75.csv')
df

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,leis2,leis3,smsa,lhrwage,lothinc,male,marr,prot,rlxall,selfe,sleep,slpnaps,south,spsepay,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
0,32,0,1,0.000000,0.000000,12,0,0,1,3529,3479,3479,0,1.955861,10.075380,1,1,1,3163,0,3113,3163,0,0,0,3438,0,3438,0,14,0,13,7.070004,1024
1,31,0,2,0.000000,0.000000,14,9500,1,1,2140,2140,2140,0,0.357674,0.000000,1,0,1,2920,1,2920,2920,1,0,0,5020,0,5020,0,11,0,0,1.429999,961
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,4505,4227,1,3.021887,0.000000,1,1,0,3038,1,2670,2760,0,20000,1,2815,0,2815,0,21,0,0,20.529997,1936
3,30,0,4,0.000000,0.000000,12,42500,1,1,3211,3211,3211,0,2.263844,0.000000,0,1,1,3083,1,3083,3083,0,5000,1,3786,0,3786,0,12,0,12,9.619998,900
4,64,0,5,0.000000,0.000000,14,2500,1,1,4052,4007,4007,0,1.011601,9.328213,1,1,1,3493,0,3448,3493,0,2400,1,2580,0,2580,0,44,0,33,2.750000,4096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,4669,4644,1,NaN,9.664660,0,1,1,3410,0,2985,3385,0,16000,1,2026,0,2026,0,27,0,18,NaN,2025
702,34,0,703,0.182331,0.030075,10,2500,0,0,5885,5870,5870,0,NaN,0.000000,1,1,0,3535,0,3520,3535,0,0,0,675,1,465,210,18,0,4,NaN,1156
703,37,0,704,0.182331,0.030075,12,3500,1,0,4719,4719,4584,0,NaN,9.235130,0,1,1,3645,0,3510,3510,0,12000,1,1851,0,1851,0,19,0,17,NaN,1369
704,54,0,705,0.182331,0.030075,17,32500,1,0,5149,5119,5031,0,NaN,9.210441,0,1,1,3088,1,2970,3000,1,35000,1,1961,1,1481,480,31,0,22,NaN,2916
705,30,0,706,0.182331,0.030075,16,6750,1,0,4747,4302,4302,0,NaN,9.940350,0,1,0,3415,0,2970,3415,1,0,0,2363,0,2363,0,8,1,9,NaN,900

In [14]:
# Можно пользоваться такой записью
df[df['smsa']>=1]

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,leis2,leis3,smsa,lhrwage,lothinc,male,marr,prot,rlxall,selfe,sleep,slpnaps,south,spsepay,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,4505,4227,1,3.021887,0.000000,1,1,0,3038,1,2670,2760,0,20000,1,2815,0,2815,0,21,0,0,20.529997,1936
7,47,0,8,0.000000,0.000000,13,0,1,1,3544,3469,3439,1,2.708717,10.657280,1,1,1,3033,1,2928,3003,0,0,0,3608,0,3608,0,28,0,24,15.010007,2209
9,30,0,10,0.000000,0.000000,15,11750,1,1,4211,4061,4061,1,1.085189,8.853808,1,1,0,3168,1,3018,3168,0,6000,1,2851,0,2851,0,9,0,7,2.959999,900
11,23,0,12,0.000000,0.000000,16,1000,1,1,6415,6355,6230,1,0.207014,7.313887,0,1,0,3480,0,3295,3355,0,3000,1,370,0,370,0,1,0,4,1.230000,529
12,24,0,13,0.000000,0.000000,16,1000,1,1,3844,3844,3794,1,0.207014,7.313887,1,1,0,3848,0,3798,3798,0,3000,1,2438,0,2438,0,2,0,4,1.230000,576
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
689,31,0,690,0.182331,0.030075,12,10500,1,0,4639,4639,4489,1,NaN,9.282754,0,0,0,3218,0,3068,3068,1,0,0,2373,0,2373,0,13,0,0,NaN,961
693,25,1,694,0.182331,0.030075,12,3500,1,0,5530,4845,4845,1,NaN,0.000000,0,0,1,3725,0,3040,3725,0,0,0,1510,1,1510,0,7,1,0,NaN,625
697,47,0,698,0.182331,0.030075,10,9500,1,0,5882,5747,5747,1,NaN,9.564583,0,1,0,3150,0,3015,3150,0,0,0,1183,1,1183,0,31,0,28,NaN,2209
700,32,0,701,0.182331,0.030075,16,10500,1,0,4707,4587,4512,1,NaN,9.282754,0,0,0,3180,0,2985,3105,1,0,0,2388,0,2388,0,10,0,0,NaN,1024
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,4669,4644,1,NaN,9.664660,0,1,1,3410,0,2985,3385,0,16000,1,2026,0,2026,0,27,0,18,NaN,2025

In [13]:
# Есть такой вариант фильтрации. Его преимущество в том, что можно проделывать вычисление и накладывать фильтр. 
#Тот же результаты можно получить, воспользовавашись методом .apply()(об этом методе мы поговорим на следуюещм семинаре) но скорость метода .loc будет выше.
df.loc[df.smsa>=1].head(10)

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,leis2,leis3,smsa,lhrwage,lothinc,male,marr,prot,rlxall,selfe,sleep,slpnaps,south,spsepay,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
2,44,0,3,0.0,0.0,17,42500,1,1,4595,4505,4227,1,3.021887,0.000000,1,1,0,3038,1,2670,2760,0,20000,1,2815,0,2815,0,21,0,0,20.529997,1936
7,47,0,8,0.0,0.0,13,0,1,1,3544,3469,3439,1,2.708717,10.657280,1,1,1,3033,1,2928,3003,0,0,0,3608,0,3608,0,28,0,24,15.010007,2209
9,30,0,10,0.0,0.0,15,11750,1,1,4211,4061,4061,1,1.085189,8.853808,1,1,0,3168,1,3018,3168,0,6000,1,2851,0,2851,0,9,0,7,2.959999,900
11,23,0,12,0.0,0.0,16,1000,1,1,6415,6355,6230,1,0.207014,7.313887,0,1,0,3480,0,3295,3355,0,3000,1,370,0,370,0,1,0,4,1.230000,529
12,24,0,13,0.0,0.0,16,1000,1,1,3844,3844,3794,1,0.207014,7.313887,1,1,0,3848,0,3798,3798,0,3000,1,2438,0,2438,0,2,0,4,1.230000,576
14,33,0,15,0.0,0.0,12,6750,1,1,4306,4306,3988,1,1.141033,8.853808,1,1,1,3566,0,3248,3248,0,9000,1,2526,0,2526,0,15,0,9,3.130000,1089
16,46,0,17,0.0,0.0,17,32500,1,1,3876,3876,3876,1,2.292535,9.210441,1,1,0,3201,0,3201,3201,0,3000,1,3003,0,3003,0,23,0,21,9.900003,2116
18,53,0,19,0.0,0.0,12,0,1,1,4360,4255,4205,1,1.193922,9.371694,1,1,1,3575,0,3420,3525,0,0,0,2300,0,2300,0,35,0,26,3.299999,2809
19,45,0,20,0.0,0.0,17,42500,1,1,5447,5447,5372,1,2.698000,0.000000,1,1,0,3165,0,3090,3090,0,0,0,1543,0,1543,0,22,0,22,14.850001,2025
20,46,0,21,0.0,0.0,17,42500,1,1,3847,3847,3847,1,3.569814,0.000000,1,0,0,2760,1,2760,2760,0,0,0,3473,0,3473,0,23,0,0,35.509987,2116

In [4]:
df = df[df.smsa >= 1]
df
# удалил все строки, которые НЕ smsa=0

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,leis2,leis3,smsa,lhrwage,lothinc,male,marr,prot,rlxall,selfe,sleep,slpnaps,south,spsepay,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,4505,4227,1,3.021887,0.000000,1,1,0,3038,1,2670,2760,0,20000,1,2815,0,2815,0,21,0,0,20.529997,1936
7,47,0,8,0.000000,0.000000,13,0,1,1,3544,3469,3439,1,2.708717,10.657280,1,1,1,3033,1,2928,3003,0,0,0,3608,0,3608,0,28,0,24,15.010007,2209
9,30,0,10,0.000000,0.000000,15,11750,1,1,4211,4061,4061,1,1.085189,8.853808,1,1,0,3168,1,3018,3168,0,6000,1,2851,0,2851,0,9,0,7,2.959999,900
11,23,0,12,0.000000,0.000000,16,1000,1,1,6415,6355,6230,1,0.207014,7.313887,0,1,0,3480,0,3295,3355,0,3000,1,370,0,370,0,1,0,4,1.230000,529
12,24,0,13,0.000000,0.000000,16,1000,1,1,3844,3844,3794,1,0.207014,7.313887,1,1,0,3848,0,3798,3798,0,3000,1,2438,0,2438,0,2,0,4,1.230000,576
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
689,31,0,690,0.182331,0.030075,12,10500,1,0,4639,4639,4489,1,NaN,9.282754,0,0,0,3218,0,3068,3068,1,0,0,2373,0,2373,0,13,0,0,NaN,961
693,25,1,694,0.182331,0.030075,12,3500,1,0,5530,4845,4845,1,NaN,0.000000,0,0,1,3725,0,3040,3725,0,0,0,1510,1,1510,0,7,1,0,NaN,625
697,47,0,698,0.182331,0.030075,10,9500,1,0,5882,5747,5747,1,NaN,9.564583,0,1,0,3150,0,3015,3150,0,0,0,1183,1,1183,0,31,0,28,NaN,2209
700,32,0,701,0.182331,0.030075,16,10500,1,0,4707,4587,4512,1,NaN,9.282754,0,0,0,3180,0,2985,3105,1,0,0,2388,0,2388,0,10,0,0,NaN,1024
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,4669,4644,1,NaN,9.664660,0,1,1,3410,0,2985,3385,0,16000,1,2026,0,2026,0,27,0,18,NaN,2025

In [5]:
sleep_eq1 = smf.ols(formula='sleep~totwrk+age+male+south', data=df).fit()
sleep_eq1.params

Intercept    3460.427182
totwrk         -0.184996
age             2.276770
male           92.649951
south         168.852598
dtype: float64

In [6]:
sleep_eq1.ess.round(3)
# ESS

7396259.393

In [7]:
sleep_eq1.centered_tss.round(3)
# TSS

50055043.404

In [8]:
RSS=sleep_eq1.ssr.round(3)
RSS
# RSS

42658784.011

In [9]:
sleep_eq1.rsquared.round(7)
# R2

0.1477625

In [10]:
sleep_eq1.rsquared_adj.round(7)
# R2adj

0.1354558

In [11]:
n=282
k=4
s=np.sqrt(RSS/(n-k-1))
round(s,4)

392.4319

# Все снова совпало с ответами НВ, ура!