# Задача 3.3

In [5]:
import pandas as pd
import numpy as np
import io
import statsmodels.formula.api as smf

In [6]:
pd.set_option('display.max_columns', None)
# показывает все столбцы в таблице

In [11]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/sleep75.csv')
df

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,leis2,leis3,smsa,lhrwage,lothinc,male,marr,prot,rlxall,selfe,sleep,slpnaps,south,spsepay,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
0,32,0,1,0.000000,0.000000,12,0,0,1,3529,3479,3479,0,1.955861,10.075380,1,1,1,3163,0,3113,3163,0,0,0,3438,0,3438,0,14,0,13,7.070004,1024
1,31,0,2,0.000000,0.000000,14,9500,1,1,2140,2140,2140,0,0.357674,0.000000,1,0,1,2920,1,2920,2920,1,0,0,5020,0,5020,0,11,0,0,1.429999,961
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,4505,4227,1,3.021887,0.000000,1,1,0,3038,1,2670,2760,0,20000,1,2815,0,2815,0,21,0,0,20.529997,1936
3,30,0,4,0.000000,0.000000,12,42500,1,1,3211,3211,3211,0,2.263844,0.000000,0,1,1,3083,1,3083,3083,0,5000,1,3786,0,3786,0,12,0,12,9.619998,900
4,64,0,5,0.000000,0.000000,14,2500,1,1,4052,4007,4007,0,1.011601,9.328213,1,1,1,3493,0,3448,3493,0,2400,1,2580,0,2580,0,44,0,33,2.750000,4096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,4669,4644,1,NaN,9.664660,0,1,1,3410,0,2985,3385,0,16000,1,2026,0,2026,0,27,0,18,NaN,2025
702,34,0,703,0.182331,0.030075,10,2500,0,0,5885,5870,5870,0,NaN,0.000000,1,1,0,3535,0,3520,3535,0,0,0,675,1,465,210,18,0,4,NaN,1156
703,37,0,704,0.182331,0.030075,12,3500,1,0,4719,4719,4584,0,NaN,9.235130,0,1,1,3645,0,3510,3510,0,12000,1,1851,0,1851,0,19,0,17,NaN,1369
704,54,0,705,0.182331,0.030075,17,32500,1,0,5149,5119,5031,0,NaN,9.210441,0,1,1,3088,1,2970,3000,1,35000,1,1961,1,1481,480,31,0,22,NaN,2916
705,30,0,706,0.182331,0.030075,16,6750,1,0,4747,4302,4302,0,NaN,9.940350,0,1,0,3415,0,2970,3415,1,0,0,2363,0,2363,0,8,1,9,NaN,900

In [15]:
df = df[df.male >= 1]
df

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,leis2,leis3,smsa,lhrwage,lothinc,male,marr,prot,rlxall,selfe,sleep,slpnaps,south,spsepay,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
0,32,0,1,0.000000,0.000000,12,0,0,1,3529,3479,3479,0,1.955861,10.075380,1,1,1,3163,0,3113,3163,0,0,0,3438,0,3438,0,14,0,13,7.070004,1024
1,31,0,2,0.000000,0.000000,14,9500,1,1,2140,2140,2140,0,0.357674,0.000000,1,0,1,2920,1,2920,2920,1,0,0,5020,0,5020,0,11,0,0,1.429999,961
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,4505,4227,1,3.021887,0.000000,1,1,0,3038,1,2670,2760,0,20000,1,2815,0,2815,0,21,0,0,20.529997,1936
4,64,0,5,0.000000,0.000000,14,2500,1,1,4052,4007,4007,0,1.011601,9.328213,1,1,1,3493,0,3448,3493,0,2400,1,2580,0,2580,0,44,0,33,2.750000,4096
5,41,0,6,0.000000,0.000000,12,0,1,1,4812,4797,4797,0,2.957511,10.657280,1,1,1,4078,0,4063,4078,0,0,0,1205,0,0,1205,23,0,23,19.249998,1681
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,50,0,693,0.182331,0.030075,12,2500,1,0,4417,4147,4147,0,NaN,9.328213,1,1,0,3330,0,3060,3330,0,2500,1,2603,0,2603,0,32,0,22,NaN,2500
694,44,0,695,0.182331,0.030075,16,16250,1,0,4539,4451,4393,0,NaN,7.824446,1,1,1,3174,0,3028,3116,0,0,0,2513,0,2513,0,22,0,19,NaN,1936
695,29,0,696,0.182331,0.030075,16,16250,1,0,4639,4519,4519,0,NaN,9.328213,1,1,1,3143,0,3023,3143,0,0,0,2418,0,2418,0,7,1,5,NaN,841
699,61,0,700,0.182331,0.030075,17,27500,1,0,4362,4362,4237,0,NaN,9.615872,1,1,0,3118,1,2993,2993,0,0,0,2725,0,2725,0,38,0,30,NaN,3721
702,34,0,703,0.182331,0.030075,10,2500,0,0,5885,5870,5870,0,NaN,0.000000,1,1,0,3535,0,3520,3535,0,0,0,675,1,465,210,18,0,4,NaN,1156

In [16]:
sleep_eq1 = smf.ols(formula='sleep~totwrk+age+smsa+south', data=df).fit()
sleep_eq1.params

Intercept    3600.958512
totwrk         -0.187650
age             3.301936
smsa          -77.686142
south          60.113665
dtype: float64

In [17]:
sleep_eq1.ess.round(3)
# ESS

12125135.598

In [18]:
sleep_eq1.centered_tss.round(3)
# TSS

75570140.578

In [19]:
RSS=sleep_eq1.ssr.round(3)
RSS
# RSS

63445004.98

In [20]:
sleep_eq1.rsquared.round(7)
# R2

0.1604488

In [21]:
sleep_eq1.rsquared_adj.round(7)
# R2adj

0.151947

In [22]:
n=400
k=4
s=np.sqrt(RSS/(n-k-1))
round(s,4)

400.7746