# Листок 11

# Задача 1.1

In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/ryupepa/Econometrica/master/python-notebooks/data-csv/sleep75.csv')
df

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
0,32,0,1,0.000000,0.000000,12,0,0,1,3529,...,0,3438,0,3438,0,14,0,13,7.070004,1024
1,31,0,2,0.000000,0.000000,14,9500,1,1,2140,...,0,5020,0,5020,0,11,0,0,1.429999,961
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,...,1,2815,0,2815,0,21,0,0,20.529997,1936
3,30,0,4,0.000000,0.000000,12,42500,1,1,3211,...,1,3786,0,3786,0,12,0,12,9.619998,900
4,64,0,5,0.000000,0.000000,14,2500,1,1,4052,...,1,2580,0,2580,0,44,0,33,2.750000,4096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,...,1,2026,0,2026,0,27,0,18,NaN,2025
702,34,0,703,0.182331,0.030075,10,2500,0,0,5885,...,0,675,1,465,210,18,0,4,NaN,1156
703,37,0,704,0.182331,0.030075,12,3500,1,0,4719,...,1,1851,0,1851,0,19,0,17,NaN,1369
704,54,0,705,0.182331,0.030075,17,32500,1,0,5149,...,1,1961,1,1481,480,31,0,22,NaN,2916
705,30,0,706,0.182331,0.030075,16,6750,1,0,4747,...,0,2363,0,2363,0,8,1,9,NaN,900

In [3]:
model = smf.ols(data=df, formula='sleep~totwrk+age+I(age**2)+male+smsa+south').fit()

In [4]:
# квадраты остатков добавим в датафрейм, воспользовавшись методом '.resid', возвращающий значения остатков
df['res2']=model.resid**2
df['res']=model.resid

In [5]:
sub_model= smf.ols(data=df, formula='res2~totwrk+age+I(age**2)+male+smsa+south').fit()

In [6]:
df

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq,res2,res
0,32,0,1,0.000000,0.000000,12,0,0,1,3529,...,0,3438,0,14,0,13,7.070004,1024,2293.443965,47.889915
1,31,0,2,0.000000,0.000000,14,9500,1,1,2140,...,0,5020,0,11,0,0,1.429999,961,573.476946,23.947379
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,...,0,2815,0,21,0,0,20.529997,1936,219030.340655,-468.006774
3,30,0,4,0.000000,0.000000,12,42500,1,1,3211,...,0,3786,0,12,0,12,9.619998,900,28387.963146,168.487279
4,64,0,5,0.000000,0.000000,14,2500,1,1,4052,...,0,2580,0,44,0,33,2.750000,4096,10619.996605,103.053368
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,...,0,2026,0,27,0,18,NaN,2025,39281.141585,-198.194706
702,34,0,703,0.182331,0.030075,10,2500,0,0,5885,...,1,465,210,18,0,4,NaN,1156,137.364246,-11.720249
703,37,0,704,0.182331,0.030075,12,3500,1,0,4719,...,0,1851,0,19,0,17,NaN,1369,68869.905163,262.430763
704,54,0,705,0.182331,0.030075,17,32500,1,0,5149,...,1,1481,480,31,0,22,NaN,2916,175991.230735,-419.513088
705,30,0,706,0.182331,0.030075,16,6750,1,0,4747,...,0,2363,0,8,1,9,NaN,900,79214.427990,-281.450578

In [13]:
St = np.round(len(df)*sub_model.rsquared,2) #статистика, которую необходимо сравнивать с хи-квадрат
St #наблюдаемое

8.31

In [14]:
Hi2 = stats.chi2.ppf(1-0.05,6) #(доверительный интервал, количество регрессоров, которые проверяем)
Hi2 #критическое

12.591587243743977

$$ F_{nabl} < F_{critical} $$ 
$\textbf{Вывод:}$ гипотезу не отвергаем

# Листок 12

# Задача 1.1

In [17]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/icecream.csv')
df

    obs   cons  price  income  temp  week
0     1  0.386  0.270      78    41     1
1     2  0.374  0.282      79    56     2
2     3  0.393  0.277      81    63     3
3     4  0.425  0.280      80    68     4
4     5  0.406  0.272      76    69     5
5     6  0.344  0.262      78    65     6
6     7  0.327  0.275      82    61     7
7     8  0.288  0.267      79    47     8
8     9  0.269  0.265      76    32     9
9    10  0.256  0.277      79    24    10
10   11  0.286  0.282      82    28    11
11   12  0.298  0.270      85    26    12
12   13  0.329  0.272      86    32    13
13   14  0.318  0.287      83    40    14
14   15  0.381  0.277      84    55    15
15   16  0.381  0.287      82    63    16
16   17  0.470  0.280      80    72    17
17   18  0.443  0.277      78    72    18
18   19  0.386  0.277      84    67    19
19   20  0.342  0.277      86    60    20
20   21  0.319  0.292      85    44    21
21   22  0.307  0.287      87    40    22
22   23  0.284  0.277      94    32    23
23   24  0.326  0.285      92    27    24
24   25  0.309  0.282      95    28    25
25   26  0.359  0.265      96    33    26
26   27  0.376  0.265      94    41    27
27   28  0.416  0.265      96    52    28
28   29  0.437  0.268      91    64    29
29   30  0.548  0.260      90    71    30

In [18]:
mdl=smf.ols(data=df, formula = 'cons~income+price+temp').fit()

In [20]:
mdl.params.round(2)

Intercept    0.20
income       0.00
price       -1.04
temp         0.00
dtype: float64

In [21]:
# вычислим статистику DW

In [23]:
# вычислим знаменатель
resSq = sum(mdl.resid**2)

In [25]:
# Вычислим числительно
sum_resid = 0 #
for i in range(len(mdl.resid)-1):
    sum_resid+=(mdl.resid[i+1]-mdl.resid[i])**2 # +=исходное сум_резид увеличиваем каждый раз эту разность

In [29]:
sum_resid/resSq #статистика DW в тесте, автокорелляция положительная, гипотеза отвергается

1.0211693122833758